<!--
  Generated template for the EmployeesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>employees</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row> 
      <ion-col col-sm-12 col-md-4 col-lg-4 *ngFor="let employee of employeeList; let i = index">
        <ion-card>
      
          <img src="../../assets/imgs/blank-avatar.png"/>
      
          <ion-card-content>
            <ion-card-title>
              {{ employee.name }} {{ employee.surname }}
            </ion-card-title>
            <p>
              IdNo: {{ employee.idNo }} <br>
              Role: {{ employee.role }}
            </p>
          </ion-card-content>
      
          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small color="danger" icon-start (click)="deleteEmployee(i)">
                <ion-icon name='trash'></ion-icon>
                Delete
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small color="success" icon-start (click)="openModal()">
                <ion-icon name='build'></ion-icon>
                Update
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="employeeList.length == 0">
    <img src="../../assets/imgs/dololo.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
        No Content
      </ion-card-title>
      <p>
        Add an employee or something... It's lonely here
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>